{
  "$schema": "https://json.schemastore.org/prettierrc",
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": [
    "prettier-plugin-astro"
  ]
}
