:root {
  --background: #fffcf0;
  --foreground: #403e3c;
  --muted-foreground: #878580;
  --border: #dad8ce;
  --accent-foreground: #cb6120;

  @media (prefers-color-scheme: dark) {
    --background: #1c1b1a;
    --foreground: #dad8ce;
    --muted-foreground: #6f6e69;
    --border: #343331;
    --accent-foreground: #ec8b49;
  }
}

html {
  @apply font-mono bg-background text-foreground;
}

body {
  @apply mx-auto max-w-[60ch] text-sm;
}

a {
  @apply underline underline-offset-4 decoration-1;
}

li {
  @apply relative pl-[2ch];
}

li:before {
  @apply text-muted absolute left-0;
  content: '-';
}

* {
  @apply border-border;
}
