---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import PrintOnly from '../components/PrintOnly.astro';
import Resume from './resume.mdx';

const profileSize = 96;
---

<BaseLayout>
  <Image
    src="https://github.com/iamchanii.png"
    alt=""
    width={profileSize}
    height={profileSize}
    loading="eager"
  />

  <section>
    <Resume />
  </section>
</BaseLayout>

<style>
  header {
    @apply flex flex-col space-y-1;

    img {
      @apply rounded-sm mb-4;
    }

    p {
      @apply font-bold;
    }
  }

  section {
    @apply mt-4;
  }

  section :global(h2) {
    @apply my-4 font-bold print:text-lg;
  }

  section :global(h3) {
    @apply my-2 before:content-['-_'] print:before:hidden print:mt-4 print:font-bold;
  }
</style>
