---
import { getCollection } from 'astro:content';
import IconArchive from '../icons/archive.svg';
import BaseLayout from '../layouts/BaseLayout.astro';

interface PostLike {
  data: { date: Date };
}

const allPosts = await getCollection('posts');
const currentYear = new Date().getFullYear();
const posts = allPosts.filter(onlyCurrentYearPost).toSorted(sortByDate);

function onlyCurrentYearPost(post: PostLike) {
  return post.data.date.getFullYear() === currentYear;
}

function sortByDate(a: PostLike, b: PostLike) {
  return a.data.date.getTime() - b.data.date.getTime();
}
---

<BaseLayout>
  <section>
    <h2>{currentYear}</h2>

    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.id}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>

  <div class="browse">
    <a href="/browse/">
      <IconArchive />
      Show Older Posts
    </a>
  </div>
</BaseLayout>

<style>
  h2 {
    @apply font-bold mb-2;
  }

  section {
    @apply mb-4;
  }

  ul {
    @apply space-y-0.5;
  }

  .browse {
    @apply flex justify-center;

    a {
      @apply text-muted text-xs inline-flex items-center gap-1;
    }
  }
</style>
