---
import IconGitHub from '../icons/github.svg';
import IconTwitter from '../icons/twitter.svg';

const currentYear = new Date().getFullYear();
---

<footer>
  <p>
    &copy; 2019-{currentYear} Chanhee Lee
  </p>
  <a href="https://github.com/iamchanii" target="_blank">
    <IconGitHub /> GitHub
  </a>
  <span role="separator"></span>
  <a href="https://x.com/imch_dev" target="_blank">
    <IconTwitter /> Twitter
  </a>
  <span role="separator"></span>
  <a href="https://github.com/iamchanii/blog" target="_blank">Source</a>
</footer>

<style>
  footer {
    @apply flex flex-wrap items-center justify-center gap-2 px-6 py-8;
    @apply text-xs text-muted;
  }

  span[role='separator'] {
    @apply inline-block content-[''] h-3 left-0 w-px bg-[currentColor];
  }

  p {
    @apply text-center flex-[1_0_100%] sm:flex-none;
  }

  a {
    @apply inline-flex items-center gap-1;
  }
</style>
