---

---

<header>
  <a href="/">imch.dev</a>
  <a href="/about">about</a>
</header>

<style>
  header {
    @apply flex items-center gap-4 px-6 p-6;

    a[href='/'] {
      @apply mr-auto;
    }
  }
</style>
