---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import PostHog from '../components/PostHog.astro';

const { pageTitle, imageUrl } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <Head title={pageTitle} image={imageUrl} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <PostHog />
  </body>
</html>
<style>
  main {
    @apply p-6;
  }
</style>
